<div class="container mt-3">
  <div class="d-flex flex-row justify-content-between">
    <mat-form-field class="col-5">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilterSearch()" placeholder="ovis" [(ngModel)]="filter">
    </mat-form-field>

    <button mat-mini-fab aria-label="button filter" (click)="onButtonFilter()" [ngClass]="{'fav-filter': !advanceFilter, 'fav-filter-activated': advanceFilter}">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>

  <div class="d-flex flex-row justify-content-between mt-3" *ngIf="advanceFilter">
    <div>
      <span [ngClass]="{'filter-title': searchQuantity>0}">Quantity: </span>
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        step="1"
        min="0"
        max="100"
        [(ngModel)]="searchQuantity"
        aria-label="units"
        (valueChange)='applyFilterSearch()'>
      </mat-slider>
    </div>
    
    <div>
      <span [ngClass]="{'filter-title': searchPrice>0}">Price: </span>
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        step="1"
        min="0"
        max="250"
        [(ngModel)]="searchPrice"
        aria-label="units"
        (valueChange)='applyFilterSearch()'>
      </mat-slider>
    </div>

    <div>
      <span [ngClass]="{'filter-title': searchNetWorth>0}">Net Worth: </span>
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        step="1"
        min="0"
        max="25000"
        [(ngModel)]="searchNetWorth"
        aria-label="units"
        (valueChange)='applyFilterSearch()'>
      </mat-slider>
    </div>

    <button mat-raised-button color="primary" (click)="onReset()">Reset</button>
  </div>

  <div class="mt-2">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
        <td mat-cell *matCellDef="let row">
          <!-- {{row.image}}  -->
          <img [src]="row.image" alt="Image product" class="img">
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- image price -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let row"> {{row.price |currency}} </td>
        <td mat-footer-cell *matFooterCellDef> <b>Total</b> </td>
      </ng-container>

      <!-- netWorht price -->
      <ng-container matColumnDef="netWorht">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Net worth </th>
        <td mat-cell *matCellDef="let row"> {{row.netWorht |currency}} </td>
        <td mat-footer-cell *matFooterCellDef> <b>{{getTotalCost() |currency}} </b> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{filter}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>