@import '../../../assets/styles/variables.scss';

table {
    width: 100%;
  }

.img{
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.fav-filter{
  background-color: #797782;
}

.fav-filter-activated{
  background-color: $color-primary;
}

.filter-title{
  color: $color-primary;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: $color-primary !important;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: $color-primary !important;
} 
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: $color-primary !important;
} 
